<header>
  <ul>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/forms-array']">FormArray POC</a></li>
  </ul>
  <h2>This is header</h2>
</header>
<router-outlet></router-outlet>
