<ng-container *ngIf="countries$ | async as countries">
  <div [formGroup]="testForm">
    <input type="text" formControlName="foo" />
    <app-custom-dropdown
      formControlName="country"
      [data]="getCountryDropdownViewModel(countries)"
    ></app-custom-dropdown>
    <ng-container *ngIf="states$ | async as states">
      <app-custom-dropdown
        formControlName="state"
        [data]="getStateDropdownViewModel(states)"
      >
      </app-custom-dropdown>
    </ng-container>
  </div>
  <div>
    <button (click)="resetForm()">Reset</button>
  </div>
</ng-container>
