<ng-container *ngIf="data">
  <select (change)="onChange($any($event.target).value)">
    <option *ngIf="data.selectVerbiage" value="undefined">{{data.selectVerbiage}}</option>
    <option
      *ngFor="let item of data.list"
      value="{{ item?.id }}"
      [selected]="selectedId === item?.id"
    >
      {{ item?.description }}
    </option>
  </select>
</ng-container>
