<form [formGroup]="namesForm">
  <ng-container formArrayName="namesList">
    <div *ngFor="let item of namesListControl; index as i">
      <ng-container [formGroupName]="i">
        <input type="hidden" formControlName="id" />
        <input formControlName="name" type="text" />
        <input formControlName="selected" type="checkbox" />
      </ng-container>
    </div>
  </ng-container>
</form>
